---
// TODO: add lever machines when we got enough data
import MachineInfoLayout from "@layouts/MachineInfoLayout.astro";
import machines from "@lib/machine/espresso.json";

import slugify from "@lib/slugify";

let title = 'Welcome To Our Espresso Machine Index'
let description = `Curated list of all espresso machines you might be interested in with overview of technical details, reviews, and more, all in one place.`

let para1 = `I aggregated a list of espresso machines and provided an overview with important details for each machine including technical details,
official links, and reviews from accross the web. The index showcases all types of espresso machines, single boilers, dual boilers, heat exchangers and lever espresso machines.
My goal is to provide all necessary information, whether it's in-house or from an external resource, so that you can inform yourself best before making an important buying decision. `;

let para2 = `I know looking around for information can be overwhelming, I've been there. That's why I curated this index. You can find a machine that suits your budget and needs. On top of that, I make sure that every machine has a couple
of reviews from YouTube, bloggers, HB and other forums.`;

let note = `Please, if you find that important information is missing regarding any of the machines listed below, let me know. If you're interested in getting a spreadsheet with all of the data, let me know, I'm willing to share.`

const allMachines = machines.machines;

const heatExchangers = allMachines.filter(machine => machine.boilerType == 'HX' && machine.images);
const dualBoilers = allMachines.filter(machine => machine.boilerType == 'DB' && machine.images);
const singleBoilers = allMachines.filter(machine => machine.boilerType == 'SB' && machine.images);
---

<MachineInfoLayout content={{ title, description }}>

  <section class="content">
    <p>{para1}</p>
    <p>{para2}</p>
    <hr />
    <p>{note}</p>
  </section >

  <div class="region content" data-start>

<div role="tablist" class="tabs tabs-lifted tabs-lg">
  <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Single Boilers" />
  <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
    <table class="table table-zebra">
      <thead>
        <tr>
          <td>Machine Name</td>
          <td>Est. Price</td>
        </tr>
      </thead>
      <tbody>
      { singleBoilers.length > 1 &&
          singleBoilers.map(m => {
            let s = slugify(m.brand + ' ' + m.model)
            return (
              <tr class="">
                <td>
                  <a href=`/machines/${s}/` class="link link-info serif text-base" >
                    {m.brand + ' ' + m.model}
                  </a>
                </td>
                <td>
                  {m.priceUsd}
                </td>
              </tr>
            )
        })
      }
      </tbody>
    </table>
  </div>

  <input
    type="radio"
    name="my_tabs_2"
    role="tab"
    class="tab"
    aria-label="Dual Boilers"
    checked="checked" />
  <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
    <table class="table table-zebra ">
      <thead>
        <tr>
          <td>Machine Name</td>
          <td>Est. Price</td>
        </tr>
      </thead>
      <tbody>
    { dualBoilers.length > 1 &&
        dualBoilers.map(m => {
          let s = slugify(m.brand + ' ' + m.model)
          return (
            <tr class="">
              <td>
                <a href=`/machines/${s}/` class="link link-info serif text-base" >
                  {m.brand + ' ' + m.model}
                </a>
              </td>
              <td>
                {m.priceUsd}
              </td>
            </tr>
          )
      })
    }
      </tbody>
    </table>
  </div>

  <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Heat Exchangers" />
  <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
    <table class="table table-zebra">
      <thead>
        <tr>
          <td>Machine Name</td>
          <td>Est. Price</td>
        </tr>
      </thead>
      <tbody>
    { heatExchangers.length > 1 &&
        heatExchangers.map(m => {
          let s = slugify(m.brand + ' ' + m.model)
          return (
            <tr class="">
              <td>
                <a href=`/machines/${s}/` class="link link-info serif text-base" >
                  {m.brand + ' ' + m.model}
                </a>
              </td>
              <td>
                {m.priceUsd}
              </td>
            </tr>
          )
      })
    }
      </tbody>
    </table>
  </div>
</div>

  </div>
</MachineInfoLayout>

<style>
</style>
