---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PostSection from "../components/PostSection.astro";
import HeroPostPreview from "../components/HeroPostPreview.astro";
import AboutSection from "../components/AboutSection.astro";
import Hero from "../components/Hero.astro";

let title = "Dripping Coffee";
let description = "Trending Topics";

const lever = [];
const latest = [];
const best = [];
const info = [];
const rest = [];

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob("./posts/**/*.mdx");
// const reviewPosts = await Astro.glob('./posts/reviews/*.mdx');

const posts = unsortedPosts
    .sort(function (a, b) {
        return (
            new Date(b.frontmatter.publishDate).valueOf() -
            new Date(a.frontmatter.publishDate).valueOf()
        );
    })
    .filter((post) => !post.frontmatter.draft);


// sort posts categorically. If post has no mentioned tags, push it into GENERAL/REST list
posts.map(post => {
    post.frontmatter.tags
        ? post.frontmatter.tags.includes("lever")
            ? lever.push(post)
            : post.frontmatter.tags.includes("best")
                ? best.push(post)
                : post.frontmatter.tags.includes("rest")
        : rest.push(post)
})

const popularPosts = posts.filter(
    (post) => post.frontmatter.tags && post.frontmatter.tags.includes("popular")
);
---

<html lang="he-il">
    <head>
        <BaseHead
            title={title}
            description="Everything About Brewing Espresso At Home | By Coffe Hobbyist"
        />
    </head>

    <body>
        <Header />
        <Hero />
        <div class="wrapper">
            <main class="content">
                <section class="intro [ flow tac ]">
                    <h2 class="main-title">{description}</h2>
                    <p></p>
                </section>
                <section aria-label="Blog post list" class="hero-posts [ region ]">
                    {
                        posts.map(({ url, frontmatter }, i) => (
                            <HeroPostPreview
                                title={frontmatter.title}
                                description={frontmatter.description}
                                publishDate={frontmatter.publishDate}
                                url=`${url}/`
                                position={
                                    (i === 2 && "third") ||
                                    (i === 1 && "second") ||
                                    "first"
                                }
                                backgroundImage={frontmatter.heroImage.src}
                            />
                        ))
                    }
                </section>
                <!-- <PostSection posts={lever} sectionTitle="Lever Experience" /> --> 
                <!--  <PostSection posts={best} sectionTitle="Latest Articles" /> -->
                <!-- <PostSection posts={info} sectionTitle="Latest Articles" /> -->


            </main>
        </div>

        <article class="[ region ] [ bg-primary ]">
            <div class="[ headline ] [ wrapper flow ]">
                <h2 class="font-serif">This Is The Dripping Coffee Experience, All About Making Great Coffee At Home
                </h2>
                <p>
                    Everything we write about is either from personal experience or from great research online. Great coffee at home has never been easier, but with too much information out there, it might be difficult to understand where to start, and we hope to help you with that. Send us an <a href="mailto:boristofu@gmail.com">email</a>
                </p>
            </div>
        </article>
        <Footer />
        <style lang="scss">
            .hero-main {
                margin-left: auto;
                margin-right: auto;
                padding-left: 2rem;
                padding-right: 2rem;
                max-width: 1170px;
            }

            .content {
                margin-top: 4rem;
                margin-bottom: 8rem;
            }

            .intro {
                margin: 0 auto;
            }

            .main-title {
                font-size: 2.2rem;
                font-weight: 700;
                margin: 0 auto;
            }

            .hero-posts {
                display: flex;
                flex-direction: column;
                @media screen and (min-width: 640px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    /* grid-template-areas: "first second third"; */
                    gap: 20px;
                }
            }

            .popular {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
            }
        </style>
    </body>
</html>
