---
import { Image } from 'astro:assets';

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import HeroPostPreview from "../components/HeroPostPreview.astro";
import Hero from "../components/Hero.astro";
import SectionTitle from "@components/common/SectionTitle.astro";

let modes = {
    all: "all",
    categorical: "categorical"
}

let mode = 'all'

let title = "Dripping Coffee - Your Home For Brewing Espresso At Home";

const lever = [];
const latest = [];
const best = [];
const info = [];
const rest = [];
const howTos = [];
const product = [];

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob("./posts/**/*.mdx");
// const reviewPosts = await Astro.glob('./posts/reviews/*.mdx');

const posts = unsortedPosts
    .sort(function (a, b) {
        return (
            new Date(b.frontmatter.updateDate || b.frontmatter.publishDate).valueOf() -
            new Date(a.frontmatter.updateDate || a.frontmatter.publishDate).valueOf()
        );
    })
    .filter((post) => !post.frontmatter.draft);


// sort posts categorically. If post has no mentioned tags, push it into GENERAL/REST list

posts.map(post => {
    const tags = post.frontmatter.tags
    tags && (tags.includes("best")
        ? best.push(post)
        : tags.includes('how')
            ? howTos.push(post)
            : tags.includes('machine')
                ? product.push(post)
                : rest.push(post))
})

const popularPosts = posts.filter(
    (post) => post.frontmatter.tags && post.frontmatter.tags.includes("popular")
);
---

<html lang="he-il">
    <head>
        <BaseHead
            title={title}
            description="Dripping Coffee is about brewing the best espresso at home. We discuss coffee beans, espresso machines, accessories, advices and HOW-TO's | By Coffe Hobbyist"
        />
    </head>

    <body>
        <Header />
        <Hero />
        <div class="wrapper">

            <!-- BEGINNING OF BLOG CONTENT -->
            <main class="content">

                {
                    mode == 'all' &&
                    <section aria-label="Blog post list" class="grid [ region ]">
                        {
                            posts.map(({ url, frontmatter}, i) =>
                                <HeroPostPreview
                                    title={frontmatter.title}
                                    description={frontmatter.description}
                                    publishDate={frontmatter.publishDate}
                                    url={url}
                                    backgroundImage={frontmatter.heroImage.src}
                                />
                            )
                        }
                    </section>
                    || 
                    <Fragment>

                    <!-- FIRST SECTION -->
                    <SectionTitle sectionTitle="Best Equipment" />
                    <section aria-label="Blog post list" class="grid [ region ]">
                    {
                        best.map(({ url, frontmatter }, i) => (
                            <HeroPostPreview
                                title={frontmatter.title}
                                description={frontmatter.description}
                                publishDate={frontmatter.publishDate}
                                url={url}
                                backgroundImage={frontmatter.heroImage.src}
                            />
                        ))
                    }
                    </section>


                    <!-- SECOND SECTION -->
                    <SectionTitle sectionTitle="Personal Reviews" />
                    <section aria-label="Blog post list" class="grid [ region ]">
                    {
                        product.map(({ url, frontmatter }, i) => (
                            <HeroPostPreview
                                title={frontmatter.title}
                                description={frontmatter.description}
                                publishDate={frontmatter.publishDate}
                                url={url}
                                backgroundImage={frontmatter.heroImage.src}
                            />
                        ))
                    }
                    </section>


                    <!-- THIRD SECTION -->
                    <SectionTitle sectionTitle="How To's" />
                    <section aria-label="Blog post list " class="grid [ region ]">
                    {
                        howTos.map(({ url, frontmatter }, i) => (
                            <HeroPostPreview
                                title={frontmatter.title}
                                description={frontmatter.description}
                                publishDate={frontmatter.publishDate}
                                url={url}
                                backgroundImage={frontmatter.heroImage.src}
                                style="secondary"
                            />
                        ))
                    }
                    </section>


                    <!-- FOURTH SECTION -->
                    <SectionTitle sectionTitle="More Articles" />
                    <section aria-label="Blog post list" class="grid [ region ]">
                        {
                            rest.map(({ url, frontmatter }, i) => (
                                <HeroPostPreview
                                    title={frontmatter.title}
                                    description={frontmatter.description}
                                    publishDate={frontmatter.publishDate}
                                    url={url}
                                    position={
                                        (i === 2 && "third") ||
                                        (i === 1 && "second") ||
                                        "first"
                                    }
                                    backgroundImage={frontmatter.heroImage.src}
                                />
                            ))
                        }
                    </section>
                    </Fragment>
                }

            </main>
            <!-- END OF BLOG CONTENT -->
        </div>

        <!-- BEGINNING OF ABOUT AND REST... -->
        <article class="[ region ] [ bg-primary ]">
            <div class="[ headline ] [ wrapper flow ]">
                <h2 class="font-serif">This Is The Dripping Coffee Experience, All About Making Great Coffee At Home
                </h2>
                <div class="headline-author-img">
                    <Image 
                        src="/assets/myself.jpg" 
                        alt="Myself with my beloved Pro 800" 
                        position={'left top'}
                        format={'webp'}
                        quality={100} 
                        width={140} 
                        height={140} 
                    />
                </div>
                <p>
                I'm Bori Po, a coffee lunatic and I'm fortunate to be married to a woman who's as addicted to good coffee as I am. I curate guides, reviews and document my personal experience and findings along the way. You can read more <a href="/about/">about me</a> or <a href='/contact/'>reach out</a> and say hi. I really hope you'll find something useful and perhaps even learn something new.
                </p>
            </div>
        </article>
        <Footer />
        <style lang="scss">
            .hero-main {
                margin-left: auto;
                margin-right: auto;
                max-width: 1170px;
            }

            .content {
                margin-top: 4rem;
                margin-bottom: 8rem;
            }

            .intro {
                margin: 0 auto;
            }

            .main-title {
                font-size: 2.2rem;
                font-weight: 700;
                margin: 0 auto;
            }

            .grid {
                justify-items: center;
                --grid-min-item-size: 16em;
                @media screen and (max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .hero-posts {
                display: flex;
                flex-direction: column;
                @media screen and (min-width: 640px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    /* grid-template-areas: "first second third"; */
                    gap: 20px;
                }
            }

            .popular {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
            }

        </style>
    </body>
</html>
