---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PostSection from "../components/PostSection.astro";
import HeroPostPreview from '../components/HeroPostPreview.astro';
import AboutSection from '../components/AboutSection.astro';
import Hero from '../components/Hero.astro';

let title = 'Dripping Coffee';
let description = 'Sip Articles';

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob('./posts/*.mdx');
// const reviewPosts = await Astro.glob('./posts/reviews/*.mdx');

const posts = unsortedPosts.sort(function (a, b) {
	return (
		new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
});

const popularPosts = posts.filter(post => post.frontmatter.tags && post.frontmatter.tags.includes('popular'));

---

<html lang="he-il">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<Hero />
		<div class="container">
			<main class="content">
				<!-- Hero -->
				<section class="intro">
					<!-- Insert Logo Here Centered  -->
					<h1>{description}</h1>
					<p>
						
					</p>
				</section>
				<section aria-label="Blog post list" class="hero-posts">

					{
						popularPosts.map(({ url, frontmatter }, i) => (
							<HeroPostPreview
								title={frontmatter.title}
								description={frontmatter.description}
								publishDate={frontmatter.publishDate}
								url={url}
								position={i === 2 && 'third' || i === 1 && 'second' || 'first'}
								backgroundImage={frontmatter.heroImage.src}
							/>
						))
					}

				</section>

				<PostSection posts={posts} sectionTitle='Coffee & More' />

				<!-- <PostSection posts={posts} sectionTitle='Best Home Barista Gear' />

				<PostSection posts={posts} sectionTitle='Coffee & Life' /> -->

				<AboutSection />


			</main>
		</div>
		<Footer />
	</body>
</html>

<style lang="scss">

	.hero-main {
		margin-left: auto;
		margin-right: auto;
		padding-left: 2rem;
		padding-right: 2rem;
		max-width: 1170px;
	}

	.content {
		margin-top: 4rem;
		margin-bottom: 8rem;
	}

	.intro {
		padding-bottom: 4rem;
		margin-bottom: 2rem;
		margin: 0 auto;
		text-align: center;
	}

	h1 {
		font-size: 2.5rem;
		font-weight: 700;
	}

	.hero-posts {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 640px) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas: "first second third";
								// "first third";
			gap: 20px;
		}
	}

	.popular {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
</style>
