---
export interface Props {
    title: string;
    description: string;
    publishDate: string;
    url: string;
    position: string;
    backgroundImage: string;
}

const { title, description, publishDate, url, backgroundImage, position } =
    Astro.props as Props;
---

<a href={url} class="[ card ]">
    <div class="image-wrapper">
        <img src={backgroundImage} alt={title} />
    </div>

    <div class="contents flow">
        <h3 class="title">{title}</h3>
        <p class="text-400">{description}</p>
    </div>
</a>

<style lang="scss">
    .card {
        padding-bottom: var(--space-xs);
        margin-bottom: 2rem;
        border-radius: var(--border-radius);
        box-shadow: 0 0 1rem rgba(0,0,0,0.08);
        line-height: var(--lh140);
        transition: var(--t-fast);

        &:hover {
            transform: translateY(-.4rem);
            box-shadow: 0 .5rem 1rem .5rem rgba(0,0,0,0.1);
            transition: transform 350ms cubic-bezier(0,.26,.13,1.55),box-shadow .2s
        }
    }

    .image-wrapper {
        height: 240px;
    }

    img {
        width: 100%;
        border-radius: var(--border-radius);
        height: 100%;
        z-index: -1;
        object-fit: cover;
        opacity: 0.9;
    }

    .contents {
        padding-top: 10px;
        padding-left: 10px;
        --flow-space: .25em;
        text-decoration: none;
    }

    .title,
    time {
        margin: 0;
    }

    time {
        font-size: 1rem;
        color: var(--color-mid);
        font-style: italic;
    }

    .title {
        font-weight: 700;
        max-width: 100%;
        color: var(--color-dark);
        letter-spacing: -0.2px;
    }

    p {
        color: #010101;
    }

</style>
