---
export interface Props {
    title: string;
    description: string;
    publishDate: string;
    url: string;
    position: string;
    backgroundImage: string;
}

const { title, description, publishDate, url, backgroundImage, position } =
    Astro.props as Props;
---

<a href={url} class="article">
    <div class="image-wrapper">
        <img src={backgroundImage} alt={title} />
    </div>

    <div class="contents">
        <h1 class="title">{title}</h1>
        <p>{description}</p>
    </div>
</a>

<style lang="scss">
    .article {
        margin-bottom: 2rem;
        border: 1px solid var(--theme-text-light);
        border-radius: 12px;
        box-shadow: 4px 4px 0px var(--theme-bg-accent);
    }

    .image-wrapper {
        height: 240px;
    }

    img {
        width: 100%;
        border-radius: 12px;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        opacity: 0.9;
    }

    .contents {
        padding-top: 10px;
        padding-left: 10px;
    }

    .title,
    time {
        margin: 0;
    }

    time {
        font-size: 1rem;
        color: var(--color-gray-200);
        color: var(--color-gray-500);
        font-style: italic;
    }

    .title {
        font-size: 1.75rem;
        font-weight: 700;
        max-width: 100%;
        /* text-align: left; */
        /* margin-left: auto; */
        color: var(--theme-text);
    }

    p {
        color: #010101;
    }

    a,
    a:hover {
        text-decoration: none;
    }

    a.more {
        display: inline;
        text-decoration: underline;
        text-decoration-color: var(--theme-bg-paper);
    }
</style>
