---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import TableOfContents from "@components/TableOfContents.astro";

export interface Props {
    headings?: any,
    content: {
        title: string;
        description: string;
        publishDate?: string;
        updateDate?: string;
        heroImage?: {
            src: string;
            alt: string;
        };
    };
}

const posts = await Astro.glob("../pages/posts/*.mdx");
const latest = posts.filter(
    (post) => !post.frontmatter.tags?.includes("popular")
);

const {
    content: { title, description, publishDate, updateDate, heroImage },
    headings
} = Astro.props as Props;

---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body>
        <Header />
        <article class="[ wrapper ] content region">
            <header class="flow">
                <h1 class="[ title ] [ text-900 weight-bold ]">{title}</h1>
                { publishDate && (
                <div data-name="time-block" class="time-block text-400 cluster" data-align="bottom">
                    <!-- <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 24 24" class="mr-1 h-5 w-5 text-gray-600" height="1em"
                        width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 4h-3V2h-2v2h-4V2H8v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zM5 20V7h14V6l.002 14H5z"
                        ></path><path
                            d="m15.628 12.183-1.8-1.799 1.37-1.371 1.8 1.799zm-7.623 4.018V18h1.799l4.976-4.97-1.799-1.799z"
                        ></path>
                    </svg>
                    -->
                        <div>
                            <span class="mono">BY BORIS POVOLOTSKY - {publishDate} {updateDate && `[updated on ${updateDate}]`}</span>
                        </div>
                </div>
                )}
                <div class="sidebar">
                {
                    heroImage && (
                        <img
                            height="475"
                            loading="lazy"
                            decoding="async"
                            src={heroImage.src}
                            alt={heroImage.alt}
                        />
                    )
                }
                </div>
            </header>
            {
                heroImage && <hr>
            }
            <main class="sidebar">
                <div class="[ post ] [ flow ]" >
                    <slot />
                </div>
                <div class="">
                        <div class="flow sticky">
                            {
                                headings && <TableOfContents {headings} />
                            }
                        </div>
                </div>
            </main>

            <hr class="gap-top-800">
            <div class="[ recent ] [ flow ]">
                <h2 class="font-serif">Check out some interesting topics...</h2>
                {
                    latest.map((post) => (
                        <div>
                            <a href={post.url}>
                                <p>
                                    <strong>{post.frontmatter.title}</strong> -{" "}
                                    <span>{post.frontmatter.description}</span>
                                </p>
                            </a>
                        </div>
                    ))
                }
            </div>
        </article>

        <article class="[ region ] [ bg-primary ]">
            <div class="[ headline ] [ wrapper flow ]">
                <h2 class="font-serif">This Is The Dripping Coffee Experience, All About Making Great Coffee At Home
                </h2>
                <p>
                    Everything we write about we write either from personal experience or from great research online. Great coffee at home has never been easier, but with too much information out there, it might be difficult to understand where to start, and we hope to help you with that. Send us an <a href="mailto:boristofu@gmail.com">email</a>
                </p>
            </div>
        </article>

        <Footer />
    </body>
<style lang="scss">
    .recent {
        --flow-space: .5em;
    }

    .recent a {
        text-decoration: none;
    }

    .recent strong {
        text-decoration: underline;
        color: var(--color-secondary);
    }

    .sidebar {
        --sidebar-gutter: var(--space-3xs);
        --sidebar-width: 20rem;
    }

    .time-block {
        color: var(--blue-500);
        font-family: var(--font-serif);
        gap: .25em;
    }

    img {
        object-fit: cover;
        object-position: center;
        margin-bottom: 1rem;

        border-radius: 8px;
        flex: 0 0 auto;
        width: 100%;
        max-width: 55rem;
    }

    @media (max-width: 50em) {
        img {
            height: 260px;
            margin-top: 0;
            margin-bottom: 2rem;
        }
    }

    :global(h2) {
        --flow-space: var(--space-m);
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-bottom: 4px solid var(--theme-divider);
    }

    .title,
    time {
        margin: 0;
        line-height: var(--lh100);
    }

    time {
        color: var(--theme-text-lighter);
    }

    main img {
        max-width: 88%;
        margin: 0 auto;
        padding: 0 10rem;
    }

    main blockquote {
      padding: var(--padding-block) var(--padding-inline);
      margin-left: calc(var(--padding-inline) * -1);
      margin-right: calc(var(--padding-inline) * -1);
      background: var(--color-secondary);
    }

    .ad-blocks {
        position: relative
    }

    .sticky {
        position: sticky;
        top: 16%;
        justify-self: start;
    }

    </style>
</html>
